---
import Header from '../islands/header/Header.astro';
import Footer from '../islands/footer/Footer.astro';
import '../styles/global.css';
import OGP from './component/OGP.astro';

interface Props {
	pageTitle: string;
	pageDescription?: string;
	pageImage?: string;
}

const pageTitle = Astro.props.pageTitle || 'ijij log';
const pageDescription = Astro.props.pageDescription || '';
const pageImage = Astro.props.pageImage || '';
---
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="google-site-verification" content="rCx0hwxaFn5VTI0OGbULTbMj0ZWd0tha7pGvuaTQqvk" />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{pageTitle}</title>

        <OGP title={pageTitle} description={pageDescription} image={pageImage} />
    </head>
    <body>
        <Header />
        <h1>{pageTitle}</h1>
        <slot />
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>