---
import App from "./App.astro";

const { frontmatter } = Astro.props;
---

<App pageTitle={frontmatter.title} pageDescription={frontmatter.description} pageImage={frontmatter.image}>
  <p>{frontmatter.date ? frontmatter.date.slice(0,10): ""}</p>
  <p><em>{frontmatter.description ? frontmatter.description: ""}</em></p>
  <p>{frontmatter.author ? 'Written by: ' + frontmatter.author : ''}</p>
  <div class="tags">
    {!frontmatter.tags ? '' : frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <slot />
</App>

<style>
.tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
}

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
}
</style>